body{
    background-color: aquamarine;
}

button{
    border: solid 15px black;
    background-color: black;
    border-radius: 30%;
}
img{
    border-radius: 30%;
}



.start-container,#button-container{
    display: flex;
    justify-content: center;
}
.result-output-container{
    align-items: center;
}



.button-choice-container{
display: flex;
    justify-content: center;


}